http://0.0.0.0:80 {
    root /dist
    index index.html
    tls off
    errors /var/log/caddy/error.log
    timeouts none
    log / /var/log/caddy/access.log " {remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size}" {
        rotate_size 100
        rotate_age  90
        rotate_keep 90
    }
}
